VITE_SIGNUP_USER=
VITE_LOGIN_USER=
VITE_GOOGLE_USER=
VITE_AUTHME_URL=
VITE_COURSE_ADDTOCOMPLETION_URL=
VITE_COURSE_CHECKCOMPLETION_URL=
VITE_FINDUSER_URL=
VITE_UPDATEPASSWORD_URL=
VITE_UPDATEPROFILE_URL=
VITE_LOGOUT_USER=
VITE_CREATEINSTRUCTOR_URL=
VITE_COURSE_URL=
VITE_LESSON_URL=
VITE_GETCOURSE_URL=
VITE_GETINSTRUCTOR_COURSES_URL=
VITE_GETCOURSE_LESSONS_URL=
VITE_ISPRESENT_URL=
VITE_ADDSUBSCRIPTION_URL=
VITE_CLOUDNAME=
VITE_UPLOADPRESET=
VITE_GOOGLE_CLIENT_ID=
VITE_CLERK_PUBLISHABLE_KEY=
